/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation bar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #C8BABA; */
  background-color: Black;
  height: 80px;
  padding: 0 20px;
}

/* Logo styles */
.navbar-logo img {
  height: 230px;
  width: 250px;
  margin-left: -30px;
}

/* Links styles */
.navbar-links {
  display: flex;
}

.navbar-links li {
  margin-right: 80px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.searchbar{
  display: flex;
  
}
.navbar-search{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.navbar-search input[type="text"] {
  height: 30px;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 3px;
  font-size: 20px;
  margin-right: -10px;
}

/* Icons styles */
.navbar-icons {
  display: flex;
}

.navbar-icons a, .bx  {
  margin-left: 25px;
  color: #ffffff;
  font-size: 30px;
}

.navbar-icons a i , .bx{
  align-items: center;
  height: 40px;
  width: 40px;
  color: #ffffff;
}

/* Main content styles */
img {
  display: block;
  max-width: 100%;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #f8f8f8;
  font-size: 70px;
  text-align: center;
  margin-top: -100%;
}
/* Product Page */
/* Product Heading */
.product_Heading{
  margin-left: 70vh;
  font-size: 25px;
  font-family: Gabriela;
  font-weight: 400;
}

/* Product Card */
.product-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.product-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  transition: transform 0.2s ease-in-out;
}

.product-card img:hover {
  transform: scale(1.1);
}

.product-card .product-name {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-card .product-price {
  font-size: 16px;
  color: #0077be;
  margin-bottom: 10px;
}

.product-card .add-to-cart {
  background-color: #0077be;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.product-card .add-to-cart:hover {
  background-color: #005ea6;
}

/* Adjust Product Size */
.product-card img {
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
}
